<div class="container">
  <form autocomplete="off" (ngSubmit)="pesquisar()">
    <div class="ui-g">
      <div class="ui-g-12">
        <H1>Pessoas</H1>
      </div>
      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input type="text" pInputText [(ngModel)]="filtro.nome" name="nome">
      </div>
      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </div>
  </form>
  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="pessoas" [responsive]="true" [paginator]="true" [rows]="filtro.itensPorPagina" [lazy]="true"
        [totalRecords]="totalRegitros" (onLazyLoad)="aoMudarPagina($event)" #tabela>
        <ng-template pTemplate="emptymessage">
          Nenhuma Pessoa encontrado
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>Cidade</th>
            <th class="col-data-header">Estado</th>
            <th class="col-data-header">Status</th>
            <th class="col-acoes-header"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pessoa>
          <tr>
            <td>{{pessoa.nome}}</td>
            <td>{{pessoa.endereco.cidade}}</td>
            <td class="col-data-content">{{pessoa.endereco.estado}}</td>
            <td class="col-data-content">
              <a href="javascript:;" (click)="ativarOuDesativar(pessoa)"
                [pTooltip]="pessoa.ativo ? 'Desativar' : 'Ativar'" tooltipPosition="top">
                {{pessoa.ativo ? 'Ativo' : 'Inativo'}}
              </a>
            </td>
            <td class="col-acoes-content">
              <a style="margin-right: 2px;" pTooltip="Editar" tooltipPosition="top" pButton icon="pi pi-pencil"></a>
              <button pButton pTooltip="Excluir" (click)="confirmarExclusao(pessoa.codigo)" tooltipPosition="top"
                icon="pi pi-trash"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="ui-g-12">
    <a pButton type="submit" label="Nova Pessoa"></a>
  </div>
</div>
